@charset "ISO-8859-1";


  
           body {
            background-color:purple;
        }
   

table{
	font-size:30px;
	border="10px";
	text-align:center;
	border-color:aqua;
	position:fixed;
	top: 200px;
	left: 300px;
	border-radius: 50px;
	padding:30px;
}
th{
	color:Yellow;
}
td{
	color:white;
}
h1{
	color: aqua;
	font-size: 70px;
	position:fixed;
	top: 80px;
	left: 600px;
	text-decoration: overline;
}
